html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}
/* rough*/
.container-fluid {
  width: 100%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    color: #fa7f5a;
}

#game {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
}

.item {
    flex-grow: 1;
}

#p1TotalScore, #p2TotalScore {
    font-size: 72px;
}

/* buttons css */



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

button {
  
  margin: 4px;
  width: -webkit-fill-available;
}

.icons {
    vertical-align: sub;
}
 

#p1CurrentScore span, #p2CurrentScore span {
   font-size: 0.7em;
   color: #2c2c2c;
}
#p1, #p2 {
    text-align: center;
    display: flex;
    font-size: 2.3em;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}



#p1, #p2 {
    color: #59744D;
}

#active1, #active2 {
    display: inline;
    color: #00ff4c;
}

.panel1, .panel2 {
    background-color: #fa7f5a;
}

.backgroundActive1, .backgroundActive2 {
  background-color: #98979744;
}

/*dice css*/
.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dice {
    padding: 4px;
    background-color: #5aa7fa; 
    width: 104px;
    height: 104px;
    border-radius: 10%;
    margin-right : 10px;
  }
  .dice-red {
    padding: 4px;
    background-color: #ff0000;
    width: 104px;
    height: 104px;
    border-radius: 10%;
    margin-right : 10px;
  }
  .dot{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:white;
  }
  
  .second-face{
    display: flex ;
    justify-content: space-between;
  }
  
  .second-face .dot:nth-of-type(2) {
    align-self: flex-end;
  }
  
  .third-face {
    display: flex;
    justify-content: space-between;
  }
  
  .third-face .dot:nth-of-type(1) {
    align-self :flex-end;
  }
  
  .third-face .dot:nth-of-type(2) {
    align-self :center;
  }
  
  
  .fourth-face , .sixth-face, .fifth-face{
    display: flex;
    justify-content: space-between;
  }
  
  .fourth-face .column , .sixth-face .column, .fifth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face .column:nth-of-type(2) {
    justify-content: center;
  }
  #des {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(top, #222, #333);
    height: 112px;
  }
 .modal-body {
  font-size: 5em;
  text-align: center;
  color: #00ff4c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 }

 @media (max-width: 530px) {
  .dice, .dice-red {
    padding: 4px;
    background-color: #5aa7fa; 
    width: 66px;
    height: 66px;
    border-radius: 10%;
    margin-right : 10px;
  }
  .dot{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:white;
  }
}