html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#game {
    margin: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.item {
    flex-grow: 1;
}

#p1TotalScore, #p2TotalScore {
    font-size: 72px;
}
/*
#p1CurrentScore, #p2CurrentScore {
    position: relative;
    text-transform: uppercase;
    top: 50%;
    left: 0;
    right: 0;
    height: 190px;
    width: 190px;
    background-color: blue;
    font-size: 54px;
    color: aliceblue;
    margin: auto;
}
#p1CurrentScore span, #p2CurrentScore span {
    text-transform: uppercase;
    font-size: 34px;
}
*/
#p1, #p2, #middle {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#active1, #active2 {
    display: inline;
    color: rgb(0, 255, 76);
}